<div class="container">
    <div>
        <h1>A chip8 Emulator Written in Typescript</h1>

        <canvas id="emulator"></canvas>
        <h3 id="rom-name"></h3>
    </div>
</div>


<div class="container-info">
    <h1>About CHIP-8 Emulator</h1>
    <div class="controls">
      <p>CHIP-8 is an interpreted programming language, developed by Joseph Weisbecker. It was originally implemented for the COSMAC VIP in the mid-1970s, and was made to allow videogames to be more easily programmed.</p>
      <p><strong>Controls:</strong></p>
      <table class="control-table">
        <tr>
          <th>COSMAC VIP keypad</th>
          <th>QWERTY equivalents</th>
        </tr>
        <tr>
          <td>1  2  3  4</td>
          <td>1  2  3  C</td>
        </tr>
        <tr>
          <td>Q  W  E  R</td>
          <td>4  5  6  D</td>
        </tr>
        <tr>
          <td>A  S  D  F</td>
          <td>7  8  9  E</td>
        </tr>
        <tr>
          <td>Z  X  C  V</td>
          <td>A  0  B  F</td>
        </tr>
      </table>
    </div>
  </div>